<!DOCTYPE html>
<html th:lang="|${#locale.language}-${#locale.country}|"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Spring App</title>
    <link rel="stylesheet" th:href="@{/css/application.css}">
</head>
<body class="flex min-h-screen">

<aside id="sidebar" class="h-screen bg-neutral-900 text-white fixed w-72 duration-300">

    <div class="relative px-5 py-6 w-full h-full flex flex-col items-center gap-10">
        <h1 class="text-2xl uppercase text-red-100 font-bold">Spring boot app</h1>

        <nav class="w-full">
            <ul class="w-full flex flex-col gap-5">
                <li th:insert="components/navItem :: navbar-item('/', 'Home')">

                </li>

                <li th:insert="components/navItem :: navbar-item('/tasks', 'Tasks')">

                </li>

                <li th:insert="components/navItem :: navbar-item('/calendar', 'Calendar')">

                </li>

                <li th:insert="components/navItem :: navbar-item('/activity', 'Activity')">

                </li>
            </ul>
        </nav>

        <button
                th:replace="components/button :: button(
                'group h-10 bg-gray-500 mt-auto w-full hover:bg-gray-800 duration-300',
                'lowercase opacity-25 text-xl font-bold group-hover:opacity-100 duration-300',
                'Close',
                'close-sidebar-btn')"
        >
        </button>
    </div>


</aside>


<div id="main-content" class="main-content bg-zinc-900 text-white flex-1 duration-300 pl-72 ">
    <div class="flex flex-col min-h-screen">
        <header class="px-5 py-6 bg-zinc-950 flex gap-2 justify-between items-center">
            <button th:replace="components/button :: button(
                'group bg-gray-500 mt-auto px-5 py-2 hover:bg-gray-800 duration-300 hidden',
                'lowercase opacity-25 text-sm font-bold group-hover:opacity-100 duration-300',
                'open',
                'open-sidebar-btn')">
            </button>


            <label th:replace="components/searchInput :: input(
            'Write something to find...',
             'relative flex items-center flex-1 bg-slate-700 pr-1',
             'flex-1 bg-slate-500 p-2 border-0 placeholder:text-gray-400 ',
             'bg-slate-700 p-2 border-none',
             ~{::#Capa_1})">
                <svg fill="#fff" height="30px" width="30px"

                     version="1.1" id="Capa_1"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 488.4 488.4" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M0,203.25c0,112.1,91.2,203.2,203.2,203.2c51.6,0,98.8-19.4,134.7-51.2l129.5,129.5c2.4,2.4,5.5,3.6,8.7,3.6
                                    s6.3-1.2,8.7-3.6c4.8-4.8,4.8-12.5,0-17.3l-129.6-129.5c31.8-35.9,51.2-83,51.2-134.7c0-112.1-91.2-203.2-203.2-203.2
                                    S0,91.15,0,203.25z M381.9,203.25c0,98.5-80.2,178.7-178.7,178.7s-178.7-80.2-178.7-178.7s80.2-178.7,178.7-178.7
                                    S381.9,104.65,381.9,203.25z"/>
                            </g>
                        </g>
                </svg>
            </label>

            <button id="open-login-form"
                    class="bg-blue-300 px-3 py-2 font-medium text-zinc-200 hover:bg-blue-400 duration-300">Log in
            </button>
        </header>

        <section
                layout:fragment="page-content"
                class="flex-1 px-5 py-2"
        >

        </section>

        <footer class="mt-auto px-5 py-2 bg-zinc-950"></footer>
    </div>
</div>


<div id="login-form" class="hidden w-screen h-screen z-10 bg-black bg-opacity-50 t-0 l-0">
    <form class="flex flex-col justify-between p-5 gap-10 w-1/3 h-1/2 bg-gray-800 rounded-2xl translate-y-1/2 mx-auto items-center">
        <label class="flex gap-2 flex-col w-full">
            <span class="text-white text-xl font-medium">E-mail:</span>
            <input class="flex-1 text-black text-xl" type="email">
        </label>
        <label class="flex gap-2 flex-col  w-full">
            <span class="text-white text-xl font-medium">Password:</span>
            <input class="flex-1 text-black text-xl" type="password">
        </label>

        <button id="close-login-form" type="button"
                class="block w-32 font-medium mt-auto bg-indigo-900 text-white py-3 hover:bg-indigo-800 duration-300">
            Log in
        </button>
    </form>
</div>

<div id="deleteModal" class="bg-black bg-opacity-60 p-10 w-screen h-screen hidden t-0 l-0 z-10 flex items-center justify-center">
    <div class="bg-zinc-700 rounded-lg px-5 py-10 w-1/3">
        <span class="close_delete_modal text-gray-600 float-right text-2xl font-bold cursor-pointer">&times;</span>
        <p class="mb-4 text-white">Are you sure you want to delete this task?</p>
        <form th:action="@{/tasks/delete/__id__}" method="post" id="deleteForm" class="space-y-4">
            <input type="hidden" id="deleteTaskId" name="id">
            <div class="flex justify-end space-x-4">
                <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded-md">Yes, delete it</button>
                <button type="button" class="bg-gray-300 text-zinc-300 px-4 py-2 rounded-md" id="cancelButton">Cancel</button>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript" th:src="@{/webjars/alpinejs/dist/cdn.min.js}" defer
></script>
<th:block layout:fragment="page-scripts">
    <script>
        const closeSideBarBtn = document.querySelector('#close-sidebar-btn'),
            openSideBarBtn = document.querySelector('#open-sidebar-btn'),
            sidebar = document.querySelector('#sidebar'),
            mainContent = document.querySelector('#main-content'),
            closeLoginFormBtn = document.querySelector('#close-login-form'),
            openLoginFormBtn = document.querySelector('#open-login-form'),
            loginForm = document.querySelector('#login-form');

        document.addEventListener('keydown', (e) => {
            if (e.key === 'Escape') {
                loginForm.style.display = 'none'
            }
        })

        loginForm.addEventListener('click', (e) => {
            console.log(e.target.tagName)
            if (e.target === loginForm) {
                loginForm.style.display = 'none'
            }
        })


        // close and open sidebar
        closeSideBarBtn.addEventListener('click', (e) => {
            e.preventDefault();
            openSideBarBtn.classList.remove('hidden')
            sidebar.style.transform = "translateX(-100%)"
            mainContent.style.paddingLeft = '0'
            console.log("close")
        })

        openSideBarBtn.addEventListener('click', (e) => {
            e.preventDefault();
            openSideBarBtn.classList.add('hidden')
            sidebar.style.transform = ""
            mainContent.style.paddingLeft = '18rem'
            console.log("open")
        })

        // close and open login form
        closeLoginFormBtn.addEventListener('click', (e) => {
            e.preventDefault();

            loginForm.style.display = 'none'

            console.log("close modal")
        })

        openLoginFormBtn.addEventListener('click', (e) => {
            e.preventDefault();

            loginForm.style.position = 'fixed'
            loginForm.style.display = 'block'
            console.log("open modal")
        })

    </script>
</th:block>
</body>
</html>