<!DOCTYPE html>

<html th:lang="|${#locale.language}-${#locale.country}|"
      xmlns:x-transition="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>

<head>
    <title>Tasks</title>
    <link rel="stylesheet" th:href="@{/css/application.css}">
</head>
<body>

<section layout:fragment="page-content">

    <div class="flex flex-col items-center justify-between mb-10">
        <h1 class="text-2xl font-bold" th:text="#{tasks.title}" >Tasks</h1>
    </div>

    <div class="flex flex-col items-center justify-center mb-10">
        <h2 class="text-xl font-bold" >Add Task</h2>
        <form th:action="@{/tasks}" th:object="${task}" method="post" class="flex flex-col gap-5">
            <div>
                <label for="task">Task:</label>
                <input type="text" id="task" th:field="*{task}" class="form-input text-black"/>
                <div th:if="${#fields.hasErrors('task')}" th:errors="*{task}" class="text-red-500"></div>
            </div>
            <div>
                <label for="important">Important:</label>
                <input type="checkbox" id="important" th:field="*{important}" class="form-checkbox"/>
            </div>
            <div>
                <label for="checked">Checked:</label>
                <input type="checkbox" id="checked" th:field="*{checked}" class="form-checkbox"/>
            </div>
            <div>
                <label for="date">Date:</label>
                <input type="datetime-local" id="date" th:field="*{date}" class="form-input text-black"/>
                <div th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="text-red-500"></div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Add Task</button>
            </div>
        </form>

    </div>

    <div class="flex flex-col gap-5">
        <ul class="text-white text-md gap-5 flex flex-col items-center justify-center" >

            <li th:each="task : ${tasks}" th:insert="fragments/taskList :: taskItem(task=${task}, hideOnMobile=true)"></li>
        </ul>
        <div th:replace="~{fragments/pagination :: controls(page=${tasks})}"></div>
    </div>

</section>


<th:block layout:fragment="page-scripts">

    <script>
        const deleteButtons = document.querySelectorAll('.delete-btn');
        const deleteModal = document.getElementById('deleteModal');
        const deleteForm = document.getElementById('deleteForm');
        const deleteTaskIdInput = document.getElementById('deleteTaskId');
        const closeButton = document.querySelector('.close_delete_modal');
        const cancelButton = document.getElementById('cancelButton');

        deleteButtons.forEach(button => {
            button.addEventListener('click', (event) => {
                const taskId = button.getAttribute('data-task-id');
                deleteTaskIdInput.value = taskId;
                deleteForm.action = '/tasks/delete/' + taskId;
                deleteModal.classList.remove('hidden');
                deleteModal.classList.add('fixed');
            });
        });

        closeButton.addEventListener('click', () => {
            deleteModal.classList.add('hidden');
            deleteModal.classList.remove('fixed');
        });

        cancelButton.addEventListener('click', () => {
            deleteModal.classList.add('hidden');
            deleteModal.classList.remove('fixed');
        });

        window.addEventListener('click', (event) => {
            if (event.target == deleteModal) {
                deleteModal.classList.add('hidden');
                deleteModal.classList.remove('fixed');
            }
        });
    </script>
</th:block>


</body>
</html>
